@import 'styles';

.form_container {
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  place-items: center;

  .form {
    padding: 2rem;
    border-radius: 8px;
    max-width: 500px;
    background-color: #fff;
    
    @include boxShadow();

  }
}
